<html>
  <head>
    <title>Railscaster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Rails Caster</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <br><br>
  <div class="container mt-5">
  <div class="row">
  <div class="col-md-8">
  <h1>Edit Entry</h1>
  <form action="/entries/<%= @entry.id %>" method="PATCH">

  <div class="form-group">
  <input class ="form-control" name="entry[title]" value="<%= @entry.title %>" placeholder="Title">
  </div>

  <div class="form-group">
  <textarea rows="10" name="entry[description]" class ="form-control"><%= @entry.description %></textarea>
  </div>

  <div class="form-group">
  <input class ="form-control" placeholder="Author" value="<%= @entry.author %>" name="entry[author]">
  </div>

  <input type="submit" class="btn btn-success btn-sm">
  </form>
  </div>
  <div class="col-md-4">
  <img src="<%= (url_for(@entry.entryimage)) %>" class="mr-3" width="100%" height="200px" style="object-fit:cover; border-radius:20px"/><br><br>
  <img src="<%= (url_for(@entry.entryimage)) %>" class="mr-3" width="100%" height="200px" style="object-fit:cover; border-radius:20px"/><br><br>
  <img src="<%= (url_for(@entry.entryimage)) %>" class="mr-3" width="100%" height="200px" style="object-fit:cover; border-radius:20px"/><br><br>
  <img src="<%= (url_for(@entry.entryimage)) %>" class="mr-3" width="100%" height="200px" style="object-fit:cover; border-radius:20px"/><br><br>
  <img src="<%= (url_for(@entry.entryimage)) %>" class="mr-3" width="100%" height="200px" style="object-fit:cover; border-radius:20px"/>


  </div>
  </div>
  </div>
  
  </body>
  </html>
