<html>
  <head>
    <title>Railscaster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Rails Caster</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">

    <div class="row align-items-center my-5">
      <div class="col-lg-7 mt-5">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://i.gadgets360cdn.com/large/cod_mobile_main_1570103396815.jpg?output-quality=80" alt="">
      </div>
     

      <div class="col-lg-5 mt-5">
        <h1 class="font-weight-light"><b>RailsCaster</b></h1>
        <p class="text-justify lead">Railscaster is an opensource template built using the Ruby on Rails framework built on Ruby and it spans different functionalities currently which includes the options of Adding news entries ad also ability to Edit and delete those news entries too generally. Furthermore extra options and features are still yet to be added which includes addition of Images, and proper user and Adin Dashboards, stay tuned.</p>
        <a class="btn btn-success btn-lg" href="#">Call to Action!</a>
      </div>
    </div>


    <div class="row">

    <% if @entry.blank? %> 
    <div class="alert alert-success col-md-12"> No Entries currently <a href="/entries/new"> Add new entry </a> </div>
    <% else %>
    <% @entry.each do |e| %> 
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title"> <%= e.title %> </h2>
            <p class="card-text"> <%= truncate(e.description, :length => 150) %> </p>
          </div>
          <div class="card-footer">
            <a href="/entries/<%= e.id %>" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <% end %>

      <% end %>
    </div>
  </div>
 

  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
   
  </footer>
    </body>
    </html>