<html>
  <head>
    <title>Railscaster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Rails-Hackathon-starter</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid mt-5">
<div class="jumbotron jumbotron-fluid mt-5">

<br><br>
  <div class="container col-md-6">
  <% if @jumbo_entry.blank? %>
  <h1 class ="display-4"> No Posts Yet </h1>
 <% else %>
    <h1 class="display-4"><%= @jumbo_entry.title %></h1>
    <p class="lead"><%= truncate(@jumbo_entry.description, :length=> 200) %></p>
    <% end %>
  </div>
</div>
</div>
<div class="container">
    <div class="row">

    <% if @entry.blank? %> 
    <div class="alert alert-success col-md-12"> No Entries currently <a href="/entries/new"> Add new entry </a> </div>
    <% else %>
    <% @entry.each do |e| %> 
      <div class="col-md-4 mb-5">
        <div class="card h-100" style="border-radius:0px">
        <% if e.entryimage.attached? %>
             <div class="card-img">
              <img src="<%= (url_for(e.entryimage)) %>" width="100%" height="200px" style="object-fit:cover;"/>
              </div>
        <% end %>
          <div class="card-body">
            <h2 class="card-title"><a href="/entries/<%= e.id %>" style="text-decoration:none; color:black"> <%= e.title %> </a></h2>
            <p class="card-text"> <%= truncate(e.description, :length => 99) %> </p>
          </div>
          <div class="card-footer">
          <i class='fas fa-clock' style='color:red'></i> <b><%= e.created_at %>
          </b>
          </div>
        </div>
      </div>
      <% end %>

      <% end %>
    </div>
  </div>
 

  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Rails-Hackathon-starter 2020</p>
    </div>
   
  </footer>
    </body>
    </html>